textarea {
    resize: none;
}

#optPanel {
    padding: 6px 30px;
    background-color: #fefefe;
}

#boardTbl {
    margin: 0 auto;
}

#boardTbl td {
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border: 1px solid #adadad;
    cursor: pointer;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

#boardTbl td:not(.selected):hover {
    background-color: #D9EDF7;
}

#boardTbl td:not(.selected):active {
    background-color: #5A547B;
}

#boardTbl td.win {
    background-color: #8578CC;
    color: #f0f0f0;
}
